@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: var(--ff-poppins);
}

:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --acent-blue: hsl(248, 32%, 49%);
  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-grayish-blue: hsl(246, 25%, 77%);
  --main-fs: 16px;
  --ff-poppins: "Poppins", sans-serif;
  --fw-thin: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-red) url("../images/bg-intro-desktop.png");
  min-height: 100vh;
}

/* DOM MANIPULATE CLASSES */

.hide {
  display: none;
}

.error-img {
  position: absolute;
  right: 1.5rem;
  bottom: 2.75rem;
}

.error-message {
  align-self: flex-end;
  font-style: italic;
  font-weight: var(--fw-bold);
  color: var(--primary-red);
  font-size: calc(var(--main-fs) - 4px);
}
/* ----------------------------------------- */

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
}

.intro-section {
  width: 45%;
}

.form-section {
  width: 50%;
}

.main-title {
  margin-bottom: 1rem;
  font-size: calc(3 * var(--main-fs));
  line-height: 1.25;
  color: #fff;
}

.main-subtitle {
  font-size: var(--main-fs);
  font-weight: var(--fw-thin);
  padding-right: 1.5rem;
  color: #fff;
}

.trial-box {
  margin-bottom: 2rem;
  width: 100%;
  padding: 1rem;
  text-align: center;
  background: var(--acent-blue);
  border: none;
  border-radius: 10px;
  color: var(--neutral-grayish-blue);
  box-shadow: 0 12px 5px rgba(0, 0, 0, 0.4);
}

.trial-box strong {
  color: #fff;
}

.container {
  padding: 2rem;
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 12px 5px rgba(0, 0, 0, 0.4);
}

.input-box {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem auto 0.5rem;
}

.form-input {
  width: 100%;
  padding: 1rem 2rem;
  margin: 1.75rem auto 0.5rem;
  border: 1px solid var(--neutral-grayish-blue);
  border-radius: 5px;
  font-weight: var(--fw-semi-bold);
  font-size: var(--main-fs);
  color: var(--neutral-dark-blue);
  transition: 0.275s;
}

.form-input:hover {
  background: #f6f6f6;
}

.submit-button {
  margin: 1rem auto 0;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background: var(--primary-green);
  color: #fff;
  font-size: var(--main-fs);
  font-weight: var(--fw-medium);
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.275s;
}

.submit-button:hover {
  background: hsl(154, 82%, 64%);
}

.terms {
  width: 90%;
  margin: 0.5rem auto 0;
  color: var(--neutral-grayish-blue);
}

.terms strong {
  color: var(--primary-red);
}

@media screen and (max-width: 375px) {
  .main-container {
    display: block;
    margin: 0 auto;
    max-width: 90%;
  }

  .intro-section {
    width: 100%;
  }

  .form-section {
    width: 100%;
  }

  .main-title {
    padding: 0 1rem;
    text-align: center;
    margin: 2rem 0 1rem;
    font-size: calc(1.75 * var(--main-fs));
    line-height: 1.5;
  }

  .main-subtitle {
    padding-right: 0.5rem;
    text-align: center;
    font-weight: var(--fw-medium);
  }

  .trial-box {
    margin: 3rem 0 2rem;
    padding: 1.25rem 3rem;
    text-align: center;
  }

  .container {
    margin: 0 auto 2rem;
    padding: 1rem 1.5rem;
  }

  .form-input {
    padding: 1rem 1.5rem;
    margin: 0.5rem 0;
    font-size: calc(var(--main-fs) - 2px);
    outline: none;
  }

  .submit-button {
    margin: 0.5rem auto 0;
  }

  .terms {
    width: 80%;
    margin: 0.5rem auto 0;
    text-align: center;
    font-size: calc(var(--main-fs) - 0.175rem);
  }
}

@media screen and (min-width: 376px) and (max-width: 800px) {
  .main-container {
    display: block;
    margin: 0 auto;
    max-width: 90%;
  }

  .intro-section {
    width: 100%;
  }

  .form-section {
    width: 100%;
  }

  .main-title {
    padding: 0 1rem;
    text-align: center;
    margin: 2rem 0 1rem;
    font-size: calc(2.25 * var(--main-fs));
  }

  .main-subtitle {
    padding-right: 0.5rem;
    text-align: center;
    font-weight: var(--fw-medium);
  }

  .trial-box {
    margin: 3rem 0 2rem;
    padding: 1rem 2rem;
    text-align: center;
  }

  .container {
    margin: 0 auto 2rem;
    padding: 1rem 1.5rem;
  }

  .form-input {
    padding: 1rem 1.5rem;
    margin: 0.5rem 0;
    font-size: calc(var(--main-fs) - 2px);
    outline: none;
  }

  .submit-button {
    margin: 0.5rem auto 0;
  }

  .submit-button:hover {
    background: hsl(154, 82%, 64%);
  }

  .terms {
    width: 80%;
    margin: 0.5rem auto 0;
    text-align: center;
    font-size: calc(var(--main-fs) - 0.05rem);
  }
}
